.button-main {
  padding: 10px 30px;
  outline: none;
  border: none;
  background: var(--primary, "#000");
  color: #e6f1ef;
  border-radius: 100px;
  border-width: 1px;
  font-weight: bold;
  transition: all 0.2s;
  scale: 1.09;
  cursor: pointer;
}

.button-main:hover {
  filter: drop-shadow(-1px 4px 10px #aaa7a7);
}
.title-btn:hover:after {
  content: attr(title);
  background: gray;
  border-radius: 5px;
  color: #e6f1ef;
  width: 80%;
  padding: 5px 12px;
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  animation: slowrevele 0.2s ease-in;
}

@keyframes slowrevele {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bordered-button {
  background: white;
  color: #000;
  border-width: 1px;
  border-style: solid;
  scale: 1;
  font-weight: normal;
}
.no-box:hover {
  filter: none;
}
