.hero-section {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("src/assets/cursorIcon.png") 16 17, pointer;
}

.hero-heading {
  font-size: 48px;
  text-align: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sub-head {
  margin-top: 20px;
  text-align: center;
}
.hero-btn-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
